/* COLORS */
:root {
  --main-color: #FFFFFF;
  --secondary-color: #000000;
  --third-color: #1B7DFF;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  line-height: 0;
  margin: 0;
  padding: 0;
  /* object-fit: cover; */
}

body {
  font-family: Lato, sans-serif;
  /* background-color: rgb(172, 180, 152); */
}

/* RESET BROWSER STYLES */
a,
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}


/* reset input */

/* button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
} */

/* BASE ELEMENTS */
.header,
section {
  max-width: 1440px;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 93px;
  padding-right: 93px;
  padding-top: 76px;
}

.container--wide {
  padding-left: 0px;
  padding-right: 0px;
}

text {
  font-size: 16px;
  line-height: 24px;
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}

.btn {
  background: var(--third-color);
  color: var(--main-color);
  padding: 15px 39px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}


.learn-more a {
  color: var(--third-color);
}

.learn-more a img {
  margin-left: 26px;
}
